body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #000;
  color: white;
  margin: 0;
}

nav {
  background-color: #751111;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
}

.logo {
  font-weight: bold;
  font-size: 24px;
  color: white;
  text-decoration: none; /* Remove underline */
}


nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.join-btn {
  background-color: #f00;
  color: white;
  padding: 10px 20px;
  border: none;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none; /* make link text look like button */
}


.title {
  text-align: center;
  margin-top: 30px;
  font-size: 36px;
}

.subtitle {
  text-align: center;
  color: #ccc;
  margin-bottom: 30px;
}

.earn-section, .redeem-section {
  width: 80%;
  margin: 0 auto 40px;
  background-color: #111;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(255, 255, 255, 0.1);
}

.earn-section ul {
  list-style: none;
  padding-left: 0;
}

.earn-section li {
  margin-bottom: 10px;
  font-size: 18px;
}

.redeem-section table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.redeem-section th, .redeem-section td {
  padding: 12px;
  border-bottom: 1px solid #333;
  text-align: center;
}


